/* 초기화 */
*{margin: 0; padding: 0}
ul{list-style-type: none;}
body{font-family: 'Noto Sans KR', sans-serif; font-size: 16px; margin: 0 auto;}
a{text-decoration: none;}

/* 헤더 */
#main_header{
    position: fixed;
    height: 64px;
    width: 100%;
    z-index: 999;
    text-align: center;
    background: rgba(0,47,95,1);
    /* overflow: hidden; */
}


/* 네비게이션 */
#main_gnb {
    position: relative;
    /* outline: 1px solid red; */
    width: 1200px;
    background: rgba(0,47,95,1);
    padding-top: 20px;
    margin: 0 auto;
  }


  /* 1단계 메뉴 */
  #main_gnb > .depth1 > li {
    float: left;
    text-align: center;
    width: 20%;
    line-height: 30px;
    z-index: 999;
  }
  #main_gnb > .depth1 > li > a {
    padding-bottom: 1px;
    display: inline-block;
    width: 130px;
    font-size: 17px;
    color: white;
    transition-duration: 0.2s;
    border-bottom: 2px solid #002f5f;
    padding-bottom: 12px;
  }
  #main_gnb > .depth1 > li > .a_img{
    padding-bottom: 7.5px;
  }
  #main_gnb > .depth1 > li:hover > .a_img{
    border-bottom: 2px solid #002f5f;
  }
  #main_gnb > .depth1 > li:hover > a{
    border-bottom: 2px solid rgba(255,255,255,0.5);
  }
  
  /* 2단계 메뉴 */
  #main_gnb .depth2.show {
    background: rgba(0,47,95,1);
    padding-top: 15px;
    width: 100%;
    height: 130px;
    /* overflow: hidden; */
    z-index: 999;
    /* outline: 1px solid green; */
  }
  
  #main_gnb .depth2{
    height: 0px;
    overflow: hidden;
    transition-duration: 0.4s;
  }
  
  #main_gnb .depth2 a {
    /* outline: 1px solid red; */
    display: block;
    color: white;
    font-size: 13px;
    z-index: 999
  }
  #main_gnb .depth2 a:hover {
    color: #db2340;
  }


  
/* 동영상 */
.media video{
    margin-top: 60px;
    width: 100%;
    /* background: #ccc; */
    margin-bottom: 100px;
}

/* 회사소개 */
#company_bg{
  background-image: url('../images/main_visual2.png');
  width: 100%;
  height: 1200px;
  background-size: cover;
  margin-bottom: 100px;
}
#company_bg > h1{
  opacity: 0;
}
#company_info{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
#company_info > .company{
  position: absolute;
  z-index: 99;
  top: 250px;
}
#company_info > .company > .company_p{
  position: absolute;
  left: 500px;
  color: rgb(163, 163, 163);
  width: 960px;
  font-size: 22px;
  top: 120px;
}
#company_info > .company > .company_img{
  position: absolute;
  top: 450px;
  left: 150px;
}
#company_info .c_button{
  position: absolute;
  width: 150px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 2px solid #000;
  transition-duration: 0.2s;
  top: 345px;
  left: 500px;
}
#company_info .c_button > a{
  display: block;
  color: black;
}
#company_info .c_button:hover{
  background: #000;
}
#company_info .c_button:hover > a{
  color: white;
}

/* 제품 소개 */
#product_bg{
  background-image: url('../images/bg_product2.png');
  width: 100%;
  height: 1200px;
  background-size: cover;
  margin-bottom: 100px;
}
#product_bg > h1{
  opacity: 0;
}
#product_info{
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
#product_info > .product{
  position: absolute;
  z-index: 99;
  top: 100px;
}
#product_info > .product > .product_p{
  position: absolute;
  width: 960px;
  text-align: center;
  top: 60px;
  left: 120px;
  color: white;
}
#product_info > .product > .product_p > h1{
  font-size: 44px;
  padding-bottom: 50px;
}
#product_info > .product > .product_p > p{
  font-size: 22px;
}
#product_info > .product > .product_img{
  position: absolute;
  top: 550px;
  left: 380px;
}
#product_info .p_button{
  position: absolute;
  width: 150px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 2px solid #fff;
  transition-duration: 0.2s;
  top: 450px;
  left: 525px;
}
#product_info .p_button > a{
  display: block;
  color: white;
}
#product_info .p_button:hover{
  background: #000;
}
#product_info .p_button:hover > a{
  color: white;
}

/* sns */
#sns_gallery {
  width: 100%;
  background: #f2f2f4;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  overflow: hidden;

}
#sns_photo {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#sns_photo li { 
  float: left;
  width: 240px; height: 240px;
  /* outline: 1px solid #bf2428; */
  overflow: hidden;
  margin-top: 20px;
}
#sns_photo li img {
  width: 240px;
  display: block;
}



/* 푸터 */
#main_footer {
  text-align: center;
  width: 100%;
  background: #002f5f;
  height: 180px;
  color: #fff;
}
#main_footer > h1 > img{
  padding-top: 60px;
  width: 130px;
}
#main_footer > p, #main_footer > address {
  font-style: normal;
  font-size: 12px;
  color: rgb(187, 187, 187);
  line-height: 30px;
}
#main_footer > p{
  text-align: center;
}